@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* Extras */
  font-family: sans-serif;
  text-align: center;
}

.App {
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  color: white;
}

h1 {
  font-family: "Lexend Deca";
  font-size: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

p {
  font-size: 30px;
  margin: 20px;
}

.operation {
  visibility: hidden;
}

input {
  display: block;
  font-size: 20px;
  width: 90%;
  padding: 10px;
  margin: 30px auto;
  border-radius: 5px;
}

button {
  display: block;
  background-color: #fff;
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 1px;
  width: 70%;
  padding: 5px 10px;
  margin: 5px auto;
  border: 1px solid #fff;
  height: 40px;
  text-transform: capitalize;
  transition: 0.5s;
}

button:is(:hover, :focus) {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

button:active {
  background-color: grey;
  border-color: grey;
}

button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
  border-color: tomato;
}

:is(button:nth-last-child(2), button:nth-last-child(1)):is(:hover, :focus) {
  background-color: darkred;
  border-color: darkred;
}

:is(button:nth-last-child(2), button:nth-last-child(1)):active {
  background: red;
  border-color: red;
}
